Repository Krishan-B/c-7066, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, types, docs, ci

Fix CI issues: add typecheck script, fix markdown lint errors, replace any types with proper types in supabase functions, fix tailwind config
  DEVELOPER_NOTES.md
  README.md
  package-lock.json
  package.json
  supabase/functions/fetch-market-data/market-data.ts
  supabase/functions/market-data-service/api/data-sources.ts
  supabase/functions/market-data-service/index.ts
  tailwind.config.ts
Labels: docs

Refactor type annotations and imports across market data functions; enhance type safety and clarity
  supabase/functions/deno.d.ts
  supabase/functions/fetch-market-data/market-data.ts
  supabase/functions/global.d.ts
  supabase/functions/market-data-service/api/data-sources.ts
  supabase/functions/market-data-service/deno.d.ts
  supabase/functions/market-data-service/index.ts
  supabase/functions/tsconfig.json
  tailwind.config.js
Labels: none

feat: Add summary of commands and navigation for less; include search and jump functionalities chore: Add git status output for recent commits and changes in the repository
  and test files
  ersAlphaDesktopTrade Pro Github Repoc-7066' && git status
  ersAlphaDesktopTrade Pro Github Repoc-7066 && git status
  ersAlphaDesktopTrade Pro Github Repoc-7066 && git status --porcelain
  tatus -sb
   Add development roadmap and phase completion reports
Labels: none

Clean up temporary files and finalize repository state
  OPERATION_COMPLETE_FINAL_REPORT.md
  tatus -sb
   Add development roadmap and phase completion reports
Labels: docs

Final repository optimization: Enhanced .gitignore and completion report
  .gitignore
  OPERATION_COMPLETE_FINAL_REPORT.md
Labels: docs

fix: resolve Vercel deployment and CI workflow issues
  .github/workflows/ci.yml
  .vscode/settings.json
  CI_YAML_FIXES_REMOTE_COMMIT_COMPLETE.md
  ESLINT_CONSOLE_WARNINGS_FIXED.md
  FINAL_DEPLOYMENT_VERIFICATION_COMPLETE.md
  PHASE_1B_VALIDATION_COMPLETE_PHASE_1C_READY.md
  eslint.config.js
  package.json
  vercel-deployment-check.js
  vitest.config.ts
Labels: docs, ci

fix(ci): update actions/upload-artifact to v4 for GitHub Actions compatibility
  .github/workflows/ci.yml
Labels: ci

fix(ci): remove restrictive job conditions so all jobs run for all events
  .github/workflows/ci.yml
Labels: ci

fix(ci): remove restrictive job conditions so all jobs run for all events and deployment is unblocked
  .github/workflows/ci.yml
Labels: ci

fix(ci): workaround for npm/rollup bug by cleaning node_modules and lockfile before install in CI
  .github/workflows/ci.yml
Labels: ci

fix(ci): do not delete package-lock.json before npm ci; only remove node_modules for clean install
  .github/workflows/ci.yml
Labels: ci

chore: allow .github directory in gitignore for workflow tracking
  .github/workflows/ci.yml
  .gitignore
Labels: ci

Remove security testing configuration and related files; refactor security test setup and utilities for improved structure and type safety.
  .prettierignore
  .vscode/tasks.json
  PHASE_A_VALIDATION_COMPLETE.md
  docs/TYPESCRIPT_GIT_COPILOT_PERFORMANCE_FIX.md
  docs/WORKSPACE_EXTENSIONS_CONFIGURATION.md
  package-lock.json
  package.json
  src/features/auth/hooks/usePasswordStrength.ts
  tests/phase1b-comprehensive.test.ts
  tests/security/README.md
  tests/security/data/csrf-protection.test.ts
  tests/security/data/input-validation.test.ts
  tests/security/integration/security-integration.test.ts
  tests/security/jest.security.config.js
  tests/security/processors/security-results-processor.js
  tests/security/setup/security-test-setup.ts
Labels: docs

Enhance security tests and implement Playwright end-to-end tests
  README.md
  package-lock.json
  package.json
  playwright.config.ts
  src/features/auth/components/LoginForm.tsx
  src/features/auth/components/RegisterForm.tsx
  src/features/auth/components/login/EmailField.tsx
  src/features/auth/components/login/PasswordField.tsx
  src/test/setup.ts
  tests/e2e/2fa.spec.ts
  tests/e2e/password-reset.spec.ts
  tests/e2e/register.spec.ts
  tests/e2e/trade.spec.ts
  tests/security/auth/register-form.test.tsx
  tests/security/auth/session-management.test.ts
  tests/security/data/csrf-protection.test.ts
Labels: docs

Remove unused linting configuration and Phase file
  .lintstagedrc
  Phase
Labels: none

chore: standardize auth imports, clean up orphaned files, upgrade esbuild/vite, fix lint-staged & pre-commit config, add Prettier, update lockfiles
  .yarnrc.yml
  lint-staged.config.cjs
  package-lock.json
  package.json
Labels: none

chore: simplify lint-staged configuration by removing unnecessary line breaks
  lint-staged.config.cjs
Labels: none

chore: update devcontainer image and change user to root; enable logging in VSCode settings
  .devcontainer/devcontainer.json
  .vscode/settings.json
Labels: none

Remove development environment configuration file
  .env.development
Labels: none

chore: update dependencies and add project documentation
  .devcontainer/devcontainer.json
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .gitignore
  DEVELOPER_NOTES.md
  README.md
  lint-staged.config.js
  package-lock.json
  package.json
Labels: docs

Remove unused test artifacts
  tests/components/theme/ThemeProviderContent.test.d.ts
  tests/components/theme/ThemeProviderContent.test.js
  tests/components/trade/TradePanelProviderContent.test.d.ts
  tests/components/trade/TradePanelProviderContent.test.js
  tests/hooks/sanity.test.d.ts
  tests/hooks/sanity.test.js
Labels: none

chore: add supabase dependency to package.json
  .devcontainer/devcontainer.json
  docs/MARKET_DATA_PROVIDER_COMPARISON.md
  docs/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/YAHOO_FINANCE_API_INVESTIGATION.md
  docs/reports/GAP_ASSESSMENT_AND_IMPLEMENTATION_PLAN.md
  package-lock.json
  package.json
Labels: docs

feat: add Tailwind CSS, Vite, and Vitest configurations
  scripts/generate-perf-report.js
  scripts/validation/vercel-deployment-check.js
  tailwind.config.js
  validation-script.js
  vite.config.js
  vitest.config.js
Labels: none

Complete workspace preparation and cleanup
  .gitignore
  .vscode/settings.json
  WORKSPACE_CLEANUP_SUMMARY.md
  docs/archive/COPILOT_MAXIMUM_AGGRESSIVE_FIX.md
  docs/archive/COPILOT_TERMINAL_PERFORMANCE_FIX.md
  docs/archive/ESLINT_CONFIGURATION_COMPLETE.md
  docs/archive/ESLINT_PERFORMANCE_FIX.md
  docs/archive/EXTENSIONS_CONFIGURATION_COMPLETE.md
  docs/archive/EXTENSIONS_PERFORMANCE_FIX.md
  docs/archive/PERFORMANCE_MONITORING_WORKFLOW_TESTING.md
  docs/archive/TYPESCRIPT_GIT_COPILOT_PERFORMANCE_FIX.md
  docs/archive/WORKSPACE_EXTENSIONS_CONFIGURATION.md
  docs/archive/WORKSPACE_PERSISTENCE_SOLUTION.md
  package.json
  src/test/global.d.ts
  src/vite-env.d.ts
  tailwind.config.js
  tests/legacy/phase1b-final-validation.test.ts
  vite.config.js
  vitest.config.js
Labels: docs

feat: Implement enhanced KYC system with document categories and upload functionality
  KYC_IMPLEMENTATION_SUMMARY.md
  src/components/AuthProvider.tsx
  src/components/Layout.tsx
  src/components/Navigation.tsx
  src/components/Sidebar.tsx
  src/components/kyc/KYCVerificationBanner.tsx
  src/pages/Index.tsx
  src/pages/KYCPage.tsx
  src/services/kyc/kycService.ts
  src/services/kyc/types.ts
  tests/kyc/enhanced-kyc-system.test.tsx
Labels: frontend, backend, docs

feat: Update tsconfig.json with enhanced compiler options and include paths
  tsconfig.json
Labels: none

fix: suppress npm warnings in Git hooks and improve pnpm consistency
  .husky/pre-commit
  .npmrc
  lint-staged.config.cjs
  package.json
Labels: none

refactor: update import paths and adjust Tailwind CSS configuration for improved compatibility
  client/src/App.tsx
  package.json
  tailwind.config.ts
Labels: none

.github/labeler.yml:

frontend:
  - 'src/components/**'
  - 'src/pages/**'
backend:
  - 'src/services/**'
  - 'src/hooks/**'
types:
  - 'src/types/**'
docs:
  - '*.md'
  - 'docs/**'
ci:
  - '.github/workflows/**'
